<h1>Form time</h1>
<form action='answer' data-turbo ='false'>
  <input type="text" class="form-control col-6" name="question" value="<%= params[:answer] %>">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
